body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

body::-webkit-scrollbar{
    display: none;
}

nav {
    background-color: #444;
    padding: 0.5rem;
}
nav a {
    color: #fff;
    margin-right: 1rem;
    text-decoration: none;
}